

.productcart{
    padding-top: 170px;
}

.productcart{
    overflow-x:auto;
}

#cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70%;
    
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 200px;
    text-align: center;
    
}

#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 120px;
    text-align: center;
    
}

#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;

}

#cart table thead{
    border: 1px solid #333;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-size: 16px;
    font-weight: 600;
    text-transform:uppercase;
    color:  #52626d;
    padding: 19px 0;
}

#cart table tbody tr td{
    color: #8395a1;
    padding-top: 20px ;
}




.coupon-carttotal{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    padding: 90px;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}
.carttotal{
    background: #cbdce8;
    border-radius: 10px;
    padding: 40px;
   
}


.carttotal table {
    border: 1px solid #333;
    border-collapse: collapse;
    width: 100%;
}
.carttotal table td{
    border:1px solid #333;
    padding: 15px 55px 10px 55px;

}

.pt{
    color: #333;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.carttotal #herobtn{
    padding:20px 90px 20px 90px ;
    margin-top: 30px;

    
}

.carttotal{
    background: #cbdce8;
}
.coupon input{
    padding: 10px;
    margin-top: 10px;
}



/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    /* margin-top: 450px; */
}
